<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>BLOG</title>
</head>

<body>
  <%- include partials/nav.ejs %>

    <h1 class="text-center" id="error">Error</h1>

    <p class="text-center" id="eMessage">
      <%= eMessage %>
    </p>
</body>

</html>